#CustomBarContainer {
  position: fixed;
  display: grid;
  height: 100%;
  grid-template-columns: 80% 20%;
  left: -100px;
  transition: 500ms ease-in-out;
  z-index: 1;
}

#CustomBar {
  grid-column: 1;
  height: 100%;
  background-color: gray;
  width: 100px;
}

#SwingButtonContainer {
  grid-column: 2;
  height: 100%;
  display: grid;
  grid-template-rows: 95% 1%;
}

#WebsiteContainer {
  width: 100%;
  background-color: brown;
  height: 1000px;
}

#SwingButton {
  height: 40px;
  grid-row: 2;
}

#RelativeContainer {
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 0;
}

#ForwardArrow {
  height: 100%;
  width: 9px;
}

.InternalBorders {
  height: 100%;
  width: 100%;
  position: relative;
}

.BorderDot {
  height: 10px;
  width: 10px;
  background-color: rgba(17,113,186, 0.5);
  position: absolute;
  cursor: grab;
}

.Container {
  height: 200px;
  width: 100px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#ReverseArrow {
  height: 100%;
  width: 9px;
  transform: scaleX(-1);
}

#ToolConsole {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 600px;
  width: 150px;
  background-color: beige;
}

.ObjTools {

}

.ActiveMenu {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  overflow: auto;
}

.ColorMenu {
  width: 100%;
  height: 1000px;
  background-color: peru;
}

.BackgroundColorMenu {
  font-size: 14px;
}

.ObjToolsContainer {
  position: absolute;
  display: grid;
  grid-template-rows: 25% 75%;
  right: -220px;
  top: -40px;
  height: 400px;
  background-color: beige;
  width: 200px;
}

.ToolGrid {
  grid-row: 1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 90%;
  height: 80%;
  margin: auto;
  background: lightgrey;
}

.RGBCell {
  position: relative;
  height: 100%;
  width: 100%;
}

.RGB {
  position: absolute;
  height: 25px;
  width: 25px;
  margin: auto;
  transform: rotate(60deg);
  transition: 500ms linear;
}

.RGB:hover {
  transform: rotate(420deg);
}